@use '../global/variables';
@use '../global/functions';

body {
    background-color: variables.$color-blanco;

    .errorList {
        background-color: variables.$color-error;
        color: variables.$color-blanco;
        border-radius: 6px;
    }

    h2 {
        color: variables.$color-gris;
    }

    h3 {
        color: variables.$color-gris;
    }


    #categories {
        border-right: 1px solid;
        border-color: variables.$color-gris-claro;
        background-color: variables.$color-blanco;

        a {
            color: variables.$color-resalto;
            font-weight: bold;
            text-decoration: none;
        }

        a:hover {
            background-color: variables.$color-resalto;
            color: variables.$color-blanco;
        }
    }

    .product-list {

        .product-item {
            border: 1px solid;
            border-color: variables.$color-gris-claro;

            p {
                color: variables.$color-gris-claro;
            }

            &:hover {
                size: 110%;
                background-color: functions.apply-filter(variables.$color-blanco, 5%);
                cursor: pointer;
            }
        }
    }

    table {

        thead {
            color: variables.$color-resalto;
        }

        tbody {
            color: variables.$color-negro;
        }

        tbody tr:nth-child(odd) {
            background-color: functions.apply-filter(variables.$color-blanco, 5%);
        }
    }

    table,
    th,
    td {
        border: 1px solid;
        border-color: variables.$color-gris-claro;
    }

    .pagination {
        text-decoration: none;

        nav {
            ul {

                li {
                    span {
                        font-size: 30px;
                        color: variables.$color-gris;
                        border-color: variables.$color-gris-claro;
                    }

                    a {
                        font-size: 20px;
                        color: variables.$color-resalto;
                        font-weight: bold;
                        text-decoration: none;
                    }
                }
            }
        }
    }

}