@use '../global/variables';
@use '../global/functions';

form {
    input {
        border: 1px solid;
        border-radius: 10px;
        border-color: variables.$color-gris;
        color: variables.$color-negro;
        height: 20px;
    }

    select 
    {
        border-radius: 10px;
        border-color: variables.$color-gris-claro;
        color: variables.$color-gris;
        height: 20px;
    }

    label{
        color: variables.$color-gris;
    }
}