@use '../global/variables';
@use '../global/functions';
@use '../global/mixins';


header {
    background-color: variables.$color-principal;
    color: variables.$color-neutro;

    nav {

        a {
            color: variables.$color-neutro;
    
            &:hover {
                background-color: functions.apply-filter(variables.$color-principal, 30%);
            }
        }
    }
    
}





