@charset "UTF-8";
/* global/_mixins.scss */
/*
  Devuelve el color dado por parámetro oscurecido en un porcentaje indicado
*/
/*
    EStructura general para los botones, con color de texto y fondo indicados por parámetro
*/
/*
    Aplica una sombra con el tamaño y color indicados
*/
/*
    Establece un tamaño de texto dinámico según la resolución de la pantalla, variando un tamaño predefinido por parámetro
*/
/*
    Estructura del banner para cambiar su organización según la resolución de la pantalla
*/
@font-face {
  font-family: Franxurter-w11D9;
  src: url("/fonts/Franxurter-w11D9.ttf");
}
h1 a {
  font-family: Franxurter-w11D9;
}

button {
  background-color: #149E6E;
  color: #f1f9ff;
  border-color: #149E6E;
  border-radius: 8px;
}
button a {
  text-decoration: none;
  color: #f1f9ff;
}
button:hover {
  background-color: #0e6f4d;
  cursor: pointer;
}

header {
  background-color: #f1f9ff;
  color: #149E6E;
}
header section {
  border-bottom: 1px solid;
  border-color: #cbcbcb;
}
header section h1 a {
  color: #149E6E;
  text-decoration: none;
}
header nav a {
  color: #149E6E;
  text-decoration: none;
  font-weight: bold;
}
header nav a:hover {
  background-color: #eaf2f7;
  cursor: pointer;
}

body {
  background-color: #f1f9ff;
}
body .errorList {
  background-color: #d11f1f;
  color: #f1f9ff;
  border-radius: 6px;
}
body h2 {
  color: #494949;
}
body h3 {
  color: #494949;
}
body #categories {
  border-right: 1px solid;
  border-color: #cbcbcb;
  background-color: #f1f9ff;
}
body #categories a {
  color: #149E6E;
  font-weight: bold;
  text-decoration: none;
}
body #categories a:hover {
  background-color: #149E6E;
  color: #f1f9ff;
}
body .product-list .product-item {
  border: 1px solid;
  border-color: #cbcbcb;
}
body .product-list .product-item p {
  color: #cbcbcb;
}
body .product-list .product-item:hover {
  size: 110%;
  background-color: #e5edf2;
  cursor: pointer;
}
body table thead {
  color: #149E6E;
}
body table tbody {
  color: #171717;
}
body table tbody tr:nth-child(odd) {
  background-color: #e5edf2;
}
body table,
body th,
body td {
  border: 1px solid;
  border-color: #cbcbcb;
}
body .pagination {
  text-decoration: none;
}
body .pagination nav ul li span {
  font-size: 30px;
  color: #494949;
  border-color: #cbcbcb;
}
body .pagination nav ul li a {
  font-size: 20px;
  color: #149E6E;
  font-weight: bold;
  text-decoration: none;
}

footer {
  background-color: #f1f9ff;
  border-top: 1px solid;
  border-color: #cbcbcb;
}
footer a {
  color: #149E6E;
  text-decoration: none;
}
footer i {
  cursor: pointer;
  color: #149E6E;
}
@media (min-width: 1640px) {
  footer i {
    font-size: 2.4em;
  }
}
@media (max-width: 1639px) {
  footer i {
    font-size: 2em;
  }
}
@media (max-width: 480px) {
  footer i {
    font-size: 1.3333333333em;
  }
}
@media (max-width: 480px) {
  footer i {
    font-size: 1.3333333333em;
  }
}
@media (max-width: 250px) {
  footer i {
    font-size: 0.8em;
  }
}
@media (max-width: 170px) {
  footer i {
    font-size: 0.6666666667em;
  }
}
@media (max-width: 100px) {
  footer i {
    font-size: 0.5em;
  }
}

form input {
  border: 1px solid;
  border-radius: 10px;
  border-color: #494949;
  color: #171717;
  height: 20px;
}
form select {
  border-radius: 10px;
  border-color: #cbcbcb;
  color: #494949;
  height: 20px;
}
form label {
  color: #494949;
}

header {
  display: flex;
  flex-direction: column;
}
header section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
header section nav {
  display: flex;
}
header section nav a {
  padding: 10px;
  margin-right: 20px;
}

html {
  margin: 0px;
  padding: 0px;
}
html body {
  margin: 0px;
  padding: 0px;
}
html body main {
  display: flex;
  justify-content: center;
}
html body main .errorList {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}
html body main button {
  margin: 5px;
}
html body main #categories.hide {
  display: none;
}
html body main #categories {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  margin-right: 20px;
  height: 100vmax;
}
html body main #categories h2 {
  padding: 10px;
}
html body main #categories a {
  padding: 10px;
}
html body main #content-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
html body main #content h2 {
  text-align: center;
}
html body main #content form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
html body main #content form input {
  margin-bottom: 10px;
}
html body .product-list {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
html body .product-list .product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 30px;
  width: 200px;
}
html body .product-list .product-item img {
  max-width: 150px;
}
html body .product-list .product-item section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
html body .product-list .product-item a {
  padding-bottom: 5px;
}
html body .pagination {
  display: flex;
  justify-content: space-around;
}
html body .pagination nav ul li {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
html body #email-verification {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  margin-top: 100px;
  margin-bottom: 0;
}
footer a, footer i {
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
@media (max-width: 250px) {
  footer a, footer i {
    margin-right: 2px;
  }
}
form input {
  padding: 1px 1px 1px 6px;
}/*# sourceMappingURL=principal.css.map */