@import "tailwindcss";

@tailwind utilities;

@config "../../tailwind.config.js";

/* @theme { */
  /* --color-primary: #24ffca;
  --color-primary-hover: '#24ffff';
  --color-secondary: #24ffca;
  --color-contrast: #24ffca; */
/* } */