//Colores
$color-resalto: #149E6E;
$color-blanco: #f1f9ff;
$color-negro: #171717;
$color-gris: #494949;
$color-gris-claro: #cbcbcb;
$color-error: #d11f1f;

//Espaciado
$padding: ("small": 10px, "medium": 20px, "big": 40px);
// $padding-base: 20px;
