html {
    margin: 0px;
    padding: 0px;

    body {
        margin: 0px;
        padding: 0px;

        main {
            display: flex;
            justify-content: center;
            #content {
                
                h2 {
                    text-align: center;
                }
                form {
                    display: flex;
                    flex-direction: column;
                    max-width: 100%;

                    input {
                        margin-bottom: 10px;
                    }
                }
            }

        }

        // #categories {
        //     display: flex;
        //     flex-direction: column;
        // }

    }
}