@use '../global/variables';
@use '../global/mixins';
@use "sass:map";

header {
    display: flex;
    flex-direction: column;
    
    section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            a {
                margin-right: 10px;
            }
        }
    }


}